:root {
    font-size: 16px;
    --colorPrimary: #f09d4f;
    --colorWhite: #FFFFFF;
    --colorBlack: #212121;
    --fontSecundary: "Open Sans";
    --fontPrimary: 'Fraunces';
}

/* fuentes estaticas*/
@font-face {
    font-family: 'Open Sans';
    src: url(../font/OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Fraunces';
    src: url(../font/Fraunces_9pt-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Fraunces';
    src: url(../font/Fraunces_9pt-Bold.ttf);
    font-style: normal;
    font-weight: 400;
}



/* estilos generales  */
body {
    margin: 0;
    font-size: 1rem;
    font-family: var(--fontSecundary);
    position: relative;
}

.overflow {
    overflow: hidden;
}

img {
    display: block;
    inline-size: 100%;
}

.wrapper {
    padding-inline: 1rem;
    max-inline-size: 75rem;
    margin-inline: auto;
}



/* header */
.header {
    background: var(--colorPrimary);
    padding-block: 2rem 1rem;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.buttonIcon {
    background: transparent;
    border: none;
    cursor: pointer;
}

.navContent {
    display: none;
    background: var(--colorPrimary);
    position: absolute;
    inline-size: 80%;
    block-size: 100vh;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-end: 0;
    border-inline-start: 1px solid var(--colorBlack);

    padding: 2rem 1rem;
    box-sizing: border-box;
}

.navContent.active {
    display: block;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.nav_link {
    color: var(--colorBlack);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--fontPrimary);
    opacity: .7;
}

.nav_link[aria-current="page"] {
    opacity: 1;
}

.navFixed {
    display: none;
}



/* form */
.formContent {
    background: var(--colorPrimary);
    padding-block: 1rem;
    margin-block-end: 2rem;
}

.form {
    max-inline-size: 31.25rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.label,
.select {
    display: block;
    margin-block-end: 1rem;
}

.select {
    inline-size: 100%;
    box-sizing: border-box;
    border-radius: 1rem;
    border: 1px solid var(--colorBlack);
    padding: .5rem;
}



/* contenido */
.ilustrator {
    inline-size: 100%;
    padding-inline: 2rem;
    box-sizing: border-box;
}

.recipeContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 2rem;
}

.title {
    text-align: center;
    color: var(--colorPrimary);
    margin-block-end: 3rem;
    font-weight: 700;
    font-family: var(--fontPrimary);
    position: relative;
    padding-block-end: .25rem;

    &::before {
        content: '';
        display: block;
        inline-size: 60%;
        max-inline-size: 500px;
        block-size: 2px;
        background: var(--colorPrimary);
        position: absolute;
        margin-block-start: 10px;
        inset-block-end: 0;
        inset-inline-start: 50%;
        transform: translateX(-50%);
    }
}

.recipeCard {
    background: var(--colorWhite);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 1px rgb(196, 194, 194, .3),
                -2px -2px 5px 1px rgb(196, 194, 194, .3);
}

.recipeBtn {
    inline-size: 100%;
    padding: .5rem;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: inset -2px -2px 2px rgb(220, 120, 5);
}


/* media queries */
@media (width >= 768px) {
    .buttonIcon#menu {
        display: none;
    }

    .navContent {
        display: none;
    }

    .navFixed {
        display: flex;
        flex-direction: row;
    }
}
